.tikTakToe{
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.tikTakToe .cell{
  flex: 0 0 33.333%;
  max-width: 32.50%;
  text-align: center;
  border: 1px solid;
  height: 50px;
}
.cell>span{
  padding: 10px;
  display: block;
}
.cell > button{
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0;
  background: #fff;
  color: #000;
  border-color: #000;
  border: none;
}
.tikTakToe> .cell:first-child{
  border-left: none;
  border-top: none;
}
.tikTakToe> .cell:nth-child(2){
  border-top: none;
}
.tikTakToe> .cell:nth-child(3){
  border-right: none;
  border-top: none;
}
.tikTakToe> .cell:nth-child(4){
  border-left: none;
}
.tikTakToe> .cell:nth-child(5){

}
.tikTakToe> .cell:nth-child(6){
  border-right: none;
}
.tikTakToe> .cell:nth-child(7){
  border-left: none;
  border-bottom: none;
}
.tikTakToe> .cell:nth-child(8){
  border-bottom: none;
}.tikTakToe> .cell:last-child{
  border-right: none;
  border-bottom: none;
}
